@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Work+Sans:wght@300&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  letter-spacing: 0px;
  line-height: 1.6em;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-size: 48px;
  font-weight: 700;
  @include small-screen {
    font-size: 64px;
  }

  margin: 1rem 0;
}

h2 {
  font-size: 36px;
  @include small-screen {
    font-size: 48px;
  }
  margin: 1rem 0;
}

p {
  margin: 1rem auto;
  text-transform: none;
}

a {
  text-decoration: underline;
  font-family: 'Poppins', sans-serif;
}
