//Colors

$primary: #0abab5;
$secondary: #0a67ba;
$third: #fff;
$fourth: #000;
$fifth: whitesmoke;

$gradient: linear-gradient(90deg, rgba(10, 186, 181, 1) 35%, rgba(10, 186, 93, 1) 100%);

$main-font: 'Roboto', 'Sans-serif';
$para-font: 'Open Sans';

$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

// BREAKPOINTS
// Match Bootstaps breakpoints
$xsmall-screen: 640px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;
