//Colors

$primary: #0abab5;

$shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

// BREAKPOINTS
// Match Bootstaps breakpoints
$xsmall-screen: 640px;
$small-screen: 768px;
$medium-screen: 992px;
$large-screen: 1200px;
