/* About section */

.about-section {
  padding: 80px 20px;

  @include large-screen {
    padding: 80px 0;
  }

  .about-title {
    span {
      display: block;
      font: normal bold 49px/60px 'Open Sans';
      letter-spacing: 21px;
    }

    @include small-screen {
      font-size: 31px;
      letter-spacing: 10px;
    }
  }
}

/* Skills Section */

.skills-section {
  padding: 80px 0;
  .skills-container {
    .skill {
      background: rgba(248, 252, 253, 0.973);
      padding: 2rem 0;
      margin: 5rem 0.5rem;
      transition: box-shadow 0.7s;

      &:hover {
        box-shadow: $box-shadow;
      }

      svg {
        font-size: 120px;
        margin-bottom: 30px;
      }
    }
  }
}

/* Portfolio Section */

.portfolio-section {
  padding: 80px 0;

  .card-container {
    margin-bottom: 30px;
    @include large-screen {
      margin-bottom: 0;
    }
  }
}
